body {
/*  background-color: #F8F8F8;*/
/*  font-family: 'Open Sans', sans-serif;*/
/*  font-size: 14px; */
/*  font-weight: normal; */
/*  line-height: 1.2em;*/
/*  margin: 15px; */
}

h1, p {
/*  color: #333;*/
}

upAdsImage {
  
   margin-left: auto;
   margin-right: auto;
   width: 730px;
  
}

.adSenseCenter {
	/*position:relative;*/
	display: block;
	width:120px;
	margin:auto;
}
div.ads_top {
margin-left:auto; 
margin-right:auto;
text-align:center;
}
